input.ng-invalid.ng-touched {
  border: 1px solid red;
}

.help-block {
  color: red;
  margin-top: 10px;
  font-size: x-small;
}

.option-prompt {
  font-style: italic;
  font-weight: bold;
  color: lightskyblue;
}
